<header-login ng-if="!isLoggedIn"></header-login>
<header-home ng-if="isLoggedIn"></header-home>

<!--Main container sec start-->
        <div class="main_container">
            <!--banner-section_start-->

            <!--banner-section_end-->

            <!--contant-section-start-->
               <div class="promition_banner">
                   <img src="{{env.image_base_url}}deposit.png" alt="" class="img-responsive">
               </div>

               <section class="deposite_sec how_tobonus">
                <div class="container">
                    <div class="comn_head">
                        <h4>How to avail the Referral Bonus</h4>
                    </div>
                    <div class="promotion_list deposit_list">
                        <ul>
                            <li><span>1</span> Log in to your account</li>
                            <li><span>2</span>Click on Refer & Earn button from Menu.</li>
                            <li><span>3</span> Share your invite code via sms, email or social media.</li>
                            <li><span>4</span>Your friend will get your request through selected mode of media in behalf of you</li>
                            <li><span>5</span>Ask your friend to accept the link and register account with us</li>
                            <li><span>6</span>Make sure your friend does successful verification and download mobile application </li>
                            <li><span>7</span>Check your account of cash bonus for credit of Rs. 100/- </li>
                            <li><span>8</span>Enjoy playing with your friend and start getting bonus each time your friend joins cash contest.</li>
                            
                        </ul>
                    </div>
                </div>
            </section>
            <section class="deposite_sec how_tobonusterm">
                    <div class="container">
                        <div class="comn_head">
                            <h4>How Referral Bonus amount get disburse?</h4>
                        </div>
                        <div class="promotion_list deposit_list">
                            <ul>
                                <li><span>1</span>Once your friend register and does require verification you will get Rs. 50 cash bonus into your account as first share of your instant bonus. </li>
                                <li><span>2</span>Please ask  your friend to download our Mobile app and do log in once from the same to claim your final share of instant bonus</li>
                                <li><span>3</span>This cash bonus you can use to play cash contest to pay 100% ticket price of your choice contest.  </li>
                                <li><span>4</span>Every time your friend plays for the cash contest ¼ of his contest ticket price shall be credited to your playwinfantasy chips account.</li>
                                <li><span>5</span>You will continue to get credit of playwinfantasy chips till your friend plays upto Rs.5000/-.</li>
                            </ul>
                    </div>
                </section>
                <section class="deposite_sec how_tobonuschips">
                        <div class="container">
                            <div class="comn_head">
                                <h4>How to use the Playwinfantasy Chips.</h4>
                            </div>
                            <div class="promotion_list deposit_list">
                                <ul>
                                    <li><span>1</span>Playwinfantasy chips in your account can only be used to play cash contest.</li>
                                    <li><span>2</span>As you play more cash contest. The Playwinfantasy chips shall get use every time to pay your selected contest entry fee for 5% of value of contest. Please take a note that chip will get rounded off to nearest one rupees.</li>
                                    <li><span>3</span>Playwinfantasy Chips are equivalent to real cash but not for withdrawal as it is your free bonus.</li>
                                    <li><span>4</span>Playwinfantasy Chips account balance does not have any expiry date so earned it as many as you want by referring your friend and use it to play more cash contest. </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </section>

                    <section class="deposite_sec how_tobonusterm">
                            <div class="container">
                                <div class="comn_head">
                                    <h4>Terms of First Deposit Bonus. </h4>
                                </div>
                                <div class="promotion_list deposit_list">
                                    <ul>
                                        <li><span>1.</span>This Offer is available only for all Players who have registered with us and verified the account.</li>
                                        <li><span>2.</span>A Player can earn maximum Referral Bonus of  value of  1,250/-* and instant reward of Rs. 100/- cash bonus.</li>
                                        <li><span>3.</span>A Player will be eligible for Referral Bonus only if his Referral logs in to Playwinfantasy using the link sent to him in the email invite or uses the Player’s Refer Code, as this is the only way to determine that the Referral has been referred by the Player.</li>
                                        <li><span>4.</span>The instant reward Bonus will be disbursed to the Player in 2 equal parts of Rs. 50.  Each part will be credited to the Player's account when a respective action get completes from the end of  Referee.  </li>
                                        <li><span>5.</span>The validity of the Referral Bonus is life time from the time it is credited in the Player's account. All the parts of the referral Bonus can be use any time as and when you wants to play cash contest .</li>
                                        <li><span>6.</span>The Bonus amount cannot be withdrawn but the Player can use the Bonus parts to play Cash games and Winnings from such games can be withdrawn.</li>
                                        <li><span>7</span>Only one account per person is permitted on Playwinfantasy.com. In case, we detect multiple accounts of the same Player, then the entire Bonus of each account would be discredited and nullified.                                      </li>
                                        <li><span>8</span>Terms & Condition of Playwinfantasy.com and its Privacy Policy are applicable for all those who participate in this Offer.</li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </section>

            <!--contant-section-start-->
        </div>
        <!--Main container sec end-->

<footer-home></footer-home>