<header-login></header-login>
<div class="main_container">
    <div class="signup_sec forgot_password" ng-show="step_1">
        <div class="signupBox">
          
            <div class="signupHeader">
                Forgot Password
            </div>
            
            <form class="form_commen" name="forgetpasswordForm" ng-submit="sendEmail(forgetpasswordForm)" novalidate="">
              <div class="signupBody">
                <p>Please enter your email address to search your account</p>
                       
                        <div class="form-group">
                            <input class="form-control" name="email" ng-model="formData.email" ng-change="removeMassage()" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" id="exampleInputEmail1" placeholder="Enter your Email." ng-required="true">
                            <div style="color:red" ng-show="submitted && forgetpasswordForm.email.$error.required" class="form-error">
                              *Email is required.
                            </div>
                            <div style="color:red" ng-show="forgetpasswordForm.email.$error.pattern" class="form-error">*Please enter valid email.
                              </div>
                            <div style="color:red" class="form-error" ng-if="login_error">*{{login_message}}</div>
                          </div>     
                        </div>
                      
                        
                      
                        <div class="form-group">
                            <button type="submit" class="btn btn-login">SUBMIT</button>
                        </div>
                  </form>      
                       

                     
            </div>
        </div>
 <div class="signup_sec forgot_password" ng-if="step_2">
  <div class="signupBox">
    
      <div class="signupHeader">
              Change your password
      </div>
      <form class="form_commen" name="submitCode" ng-submit="reset(submitCode)" novalidate="">
        <div class="signupBody">
            <p>Password are case-sensitive and must be at leas 6 characters.
                  A good password should contain a mix of capital and lower-case 
                  letters, numbers and symbols.</p>
                  <div class="form-group">
                    <input type="text" name="code" ng-model="formDataR.vcode" ng-change="removeMassage()" class="form-control"  id="" placeholder="Please Enter Received Code on your email" ng-pattern="/^(\d).+$/" ng-required="true">
                    <div style="color:red" ng-show="resetsubmitted && submitCode.code.$error.required" class="form-error">
                     *Verification code is required.
                   </div>
                   <div style="color:red" ng-show="submitCode.code.$error.pattern">*The verification code field must contain only numbers.</div>
                  </div>
                 
                  <div class="form-group">
                    <input type="password" name="pass" ng-model="formDataR.pass" ng-change="removeMassage()" ng-pattern="/^(?=.*[0-9])(?=.*[A-Z])([a-zA-Z0-9]+)$/" ng-minlength="6" class="form-control" id="" placeholder="Please Enter New Password" ng-required="true">
                    <div style="color:red" ng-show="resetsubmitted  && submitCode.pass.$error.required" class="form-error">
                      *password is required.
                    </div>
                    <div style="color:red" ng-show="submitCode.pass.$error.pattern || submitCode.pass.$error.minlength" class="form-error">*Password must have one capital, one number and 6 character long.
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="password" name="passc" ng-model="formDataR.passc" ng-change="removeMassage()" class="form-control" id="" placeholder="Please Confirm New Password" ng-required="true">
                    <div style="color:red" ng-show="resetsubmitted  && submitCode.passc.$error.required" class="form-error">
                      *confirm password is required.
                    </div>
                    <div style="color:red" ng-show="formDataR.pass != formDataR.passc" ng-if="formDataR.passc !=undefined">Your passwords must match.</div>
                  </div>
                  <div style="color:red" class="form-error" ng-if="reset_error">*{{reset_message}}</div>  
                  <div class="form-group">
                      <button class="btn btn-login">SUBMIT</button>
                  </div>
        </div>
      </form>
  </div>
</div>  
</div>
<!--Main container sec end-->
<!--Footer sec start-->
<footer-home></footer-home>
<!--Footer sec end-->