<header-login ng-if="!isLoggedIn"></header-login>
<header-home ng-if="isLoggedIn"></header-home>

        <!--Main container sec start-->
        <div class="main_container">
                <!--banner-section_start-->
                <section class="innerBanner_sec aboutBanner">
                    <!-- <div class="banner_logo text-center">
                        <img src="images/logo.png" class="">
                    </div> -->
                </section>
                  <!--banner-section_end-->
        
                  <!--contant-section-start-->
                <section class="about_sec comain_contain">
                    <div class="container text-center">
                        <div class="comn_head">
                            <h4>Let's Get Introduced</h4>
                        </div>
                        <div ng-bind-html="page_content"></div>
                    </div>
                </section>
        
                <!--contant-section-start-->
        
                <!--service-sec-start-->
                <section class="aboutservice_sec">
                    <div class="container">
                        <div class="comn_head">
                            <h4>What Makes Us Unique</h4>
                        </div>
                        <ul>
                            <!-- <li>
                                <figure>
                                    <img src="images/ser1.png" alt="">
                                </figure>
                                <h4>Draft Fantasy</h4>
                            </li> -->
                            <li>
                                <figure>
                                    <img ng-src="{{env.image_base_url}}ser2.png" alt="">
                                </figure>
                                <h4>Prediction Features</h4>
                            </li>
                            <li>
                                <figure>
                                    <img ng-src="{{env.image_base_url}}ser3.png" alt="">
                                </figure>
                                <h4>Referral Scheme</h4>
                            </li>
                            <li>
                                <figure>
                                    <img ng-src="{{env.image_base_url}}ser4.png" alt="">
                                </figure>
                                <h4>Affiliate Program</h4>
                            </li>
                        </ul>
                    </div>
                </section>
                
        
                <!--service-sec-end-->
        
                <!--whyplaywin-start-->
                <section class="whyfantasy_sec align-center">
                    <div class="container">
                        <div class="comn_head">
                            <h4>Why playwinfantasy only </h4>
                        </div>
                        <ul>
                            <li>
                                <div class="whyIcon">
                                    <img ng-src="{{env.image_base_url}}why1.png" alt="">
                                </div>
                                <h4>Our free Contest<br> Free to play, No deposit required</h4>
                            </li>
                            <li>
                                <div class="whyIcon">
                                    <img ng-src="{{env.image_base_url}}why2.png" alt="">
                                </div>
                                <h4>Practice Contest<br>  Be perfect  and earn rewards point </h4>
                            </li>
                            <li>
                                <div class="whyIcon">
                                    <img ng-src="{{env.image_base_url}}why3.png" alt="">
                                </div>
                                <h4>Win Real Prize money</h4>
                            </li>
                            <li>
                                <div class="whyIcon">
                                    <img ng-src="{{env.image_base_url}}why4.png" alt="">
                                </div>
                                <h4>All major sports and<br>  Leagues</h4>
                            </li>
                            <li>
                                <div class="whyIcon">
                                    <img ng-src="{{env.image_base_url}}why5.png" alt="">
                                </div>
                                <h4>Challenge your<br>  friends</h4>
                            </li>
                        </ul>
                    </div>
                </section>
                <!--whyplaywin-ebd-->
        
            </div>
            <!--Main container sec end-->
<footer-home></footer-home>

</main>
