    <main>
        <!--Header sec start-->
        <header-login ng-if="!isLoggedIn"></header-login>
        <header-home ng-if="isLoggedIn"></header-home>

        <!--Header sec end-->
        <!--Main container sec start-->
        <div class="main_container">
            <section class="main_content_sec">
                <div class="container-fluid">

                    <div class="content_wrap">
                        <!--counter-->

                        <!--ground-->
                        <div class="how_to_sec">
                            <div class="inner_common_head">
                                <h3>How to Play the Fantasy Cricket Game?</h3>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="creat_right">
                                        <h4>Fantasy Points System </h4>
                                        <p> Here’s how your team earns points:</p>
                                        <div class="common_table">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Type Of points</th>
                                                        <th>T20</th>
                                                        <th>ODI</th>
                                                        <th>Test</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>For being part of the Starting XI **</td>
                                                        <td>1</td>
                                                        <td>2</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>For every run scored</td>
                                                        <td>1</td>
                                                        <td>2</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Wicket (excluding run-out)</td>
                                                        <td>1</td>
                                                        <td>2</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Catch</td>
                                                        <td>1</td>
                                                        <td>2</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Cought & Bowled</td>
                                                        <td>1</td>
                                                        <td>2</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Stumping / Run-out (direct)</td>
                                                        <td>1</td>
                                                        <td>2</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Run-out (Thrower/catcher)</td>
                                                        <td>1</td>
                                                        <td>2</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Dismissal for duck (batsmen, wicket-keeper and all-rounders)</td>
                                                        <td>1</td>
                                                        <td>2</td>
                                                        <td>3</td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                        <h4>Bonus Point</h4>
                                        <div class="common_table">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Type Of points</th>
                                                        <th>T20</th>
                                                        <th>ODI</th>
                                                        <th>Test</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Every boundary hit</td>
                                                        <td>1</td>
                                                        <td>2</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Every six hit</td>
                                                        <td>1</td>
                                                        <td>2</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Half century</td>
                                                        <td>1</td>
                                                        <td>2</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>century</td>
                                                        <td>1</td>
                                                        <td>2</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Maiden over</td>
                                                        <td>1</td>
                                                        <td>2</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>4 Wickets</td>
                                                        <td>1</td>
                                                        <td>2</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>4 Wickets</td>
                                                        <td>1</td>
                                                        <td>2</td>
                                                        <td>3</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                        <h4>Bonus Points</h4>
                                        <div class="common_table">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Type Of points</th>
                                                        <th>T20</th>
                                                        <th>ODI</th>
                                                        <th>Test</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>For being part of the Starting XI **</td>
                                                        <td>1</td>
                                                        <td>2</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>For every run scored</td>
                                                        <td>1</td>
                                                        <td>2</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Wicket (excluding run-out)</td>
                                                        <td>1</td>
                                                        <td>2</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Catch</td>
                                                        <td>1</td>
                                                        <td>2</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Cought & Bowled</td>
                                                        <td>1</td>
                                                        <td>2</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Stumping / Run-out (direct)</td>
                                                        <td>1</td>
                                                        <td>2</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Run-out (Thrower/catcher)</td>
                                                        <td>1</td>
                                                        <td>2</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Dismissal for duck (batsmen, wicket-keeper and all-rounders)</td>
                                                        <td>1</td>
                                                        <td>2</td>
                                                        <td>3</td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                        <p>*    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has </p>
                                        <p>*    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                        <p>*    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                        <p>*    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--ground-->
                    </div>
                </div>
            </section>
        </div>
        <!--Main container sec end-->
        <!--Footer sec start-->
        <footer-home></footer-home>

        <!--Footer sec end-->
    </main>

