<header-home></header-home>
<div class="main_container">
        
        
                    <!--wallet-section-start-->
                    <section class="pancard_sec comon_bg">
                        <div class="container-fluid">
                        <div class="content_wrap veryfication_wrap">
        
                            <div class="veryfy_line">
                                <h4>Verify Your Account</h4> <a href="#" class="btn btn-submit">Show me Contest</a>
                            </div>
        
                            <div class="veryfy_condition">
                                <h4>After this, enjoy 1- click cash withdrawals forever! </h4>
        
                                <ul>
                                    <li> Max size 4MB. Formats - .jpg .jpeg .png .pdf only.</li>
                                    <li>We don’t accept password-protected docs.</li>
                                </ul>
                                <ul class="veryfy_icn">
                                        <li class="{{users.account_verify==0?'':'gray_icon';}}"><i class="fa fa-info-circle" aria-hidden="true"></i> Incomplete</li>
                                        <li class="{{users.account_verify==1?'':'gray_icon';}}"><i class="fa fa-check-circle" aria-hidden="true"></i> Submitted</li>
                                        <li class="{{users.account_verify==2?'':'gray_icon';}}"><i class="fa fa-check-circle" aria-hidden="true"></i> Verified
                                        </li>
                                </ul>
                            </div>
        
                            <div class="mobile_veryfy">
                                <div class="mobile_veryfy_bar">
                                    <ul class="clearfix">
                                        <li class="{{currentSetting=='mobileverification'?'active':''}}"><a href="#/mobileverification">1. Mobile Verification</a></li>
                                        <li class="{{currentSetting=='pan-card'?'active':''}}"><a href="#/pan-card">2. PAN Card</a></li>
                                        <li class="{{currentSetting=='settings'?'active':''}}" ><a href="javascript:void(0)">3. Bank Account Details</a></li>
                                        <li class="{{currentSetting=='aadhar-card'?'active':''}}"><a href="#/aadhar-card">Aadhar Card</a></li>
                                        
                                        <li><a href="javascript:void(0)">How to get verified?</a></li>
                                    </ul>
                                </div>
                                <div class="mobile_veryfication_contait pancard_sec">
                                    <form ng-submit="updateBankAccount(bankAccount)" name="bankAccount" novalidate>
                                        <fieldset ng-disabled="isReadOnly">
                                        <div class="row">
                                        <div class="col-sm-5">
                                            <div class="form-group custom_input">
                                                <label class="input-has-value">Full Name</label>
                                                <input placeholder="Alex" ng-model="settings.name" name="name" type="text" ng-required="true">
                                                <p><i class="fa fa-info-circle" aria-hidden="true"></i> Your name must match the name
                                                    on  Bank Account</p>
                                                <p style="color:red" ng-if="submitted && bankAccount.name.$error.required">*Name is required field. </p>    
        
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="form-group custom_input">
                                                <label>Account Number</label>
                                                <input ng-model="settings.account_number" name="account_number" placeholder="" ng-minlength="9" ng-maxlength="18" ng-pattern="/^\+?\d{9,18}$/" type="password" ng-required="true">
                                                <p style="color:red" ng-if="submitted && bankAccount.account_number.$error.required">*Account number is required field. </p>    
                                                <p style="color:red" ng-show="bankAccount.account_number.$error.pattern || bankAccount.account_number.$error.minlength || bankAccount.account_number.$error.maxlength" class="form-error">*Please enter valid account number.</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                                <div class="form-group custom_input">
                                                        <label>Verify Account Number</label>
                                                        <input ng-model="settings.account_number_confirm" name="account_number_confirm" type="text" ng-required="true">
                                                        <p style="color:red" ng-if="submitted && bankAccount.account_number_confirm.$error.required">*Confirm ccount number is required field. </p> 
                                                        <p style="color:red" ng-if="submitted && settings.account_number_confirm!=settings.account_number && !bankAccount.account_number_confirm.$error.required">*Account number and confirm account number must be same. </p> 
            
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                    <div class="form-group custom_input">
                                                        <label>IFSC Code</label>
                                                        <input ng-model="settings.ifsc" name="ifsc" type="text" ng-required="true">
                                                        <p style="color:red" ng-if="submitted && bankAccount.ifsc.$error.required">*IFSC  code is required field. </p> 
                
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                        <div class="form-group custom_input">
                                                            <label>Bank Name</label>
                                                            <input ng-model="settings.bank_name" name="bankname" type="text" ng-required="true">
                                                            <p style="color:red" ng-if="submitted && bankAccount.bankname.$error.required">*Bank name is required field. </p>
                    
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                            <div class="form-group custom_input">
                                                                <label>Branch Name</label>
                                                                <input ng-model="settings.branch_name" name="branchname" type="text" ng-required="true">
                                                                <p style="color:red" ng-if="submitted && bankAccount.bankname.$error.required">*Bank name is required field. </p>
                        
                                                            </div>
                                       </div>
                                       
                                        <div class="col-sm-5">
                                            <div class="form-group custom_filetype">
                                                    <div class="input-file-container">  
                                                            <input ngf-select ngf-accept="'image/*'" ng-model="settings.picFile" name="file" id="file" type="file" ng-required="true">
                                                            </div>
                                                          <p class="file-return">Upload Passbook Image / Online bank statement</p>
                                                          <div style="color:red" ng-show="submitted && bankAccount.file.$error.required" class="form-error">
                                                                *Passbook image  is required field.</div>
        
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="card_bar">
                                                <ul>
                                                    <li><i class="fa fa-info-circle" ng-click="openPopup('why_bankaccount')" aria-hidden="true"></i> Why should I submit my  Account?</li>
                                                    <li>- Max size 4MB. Formats - .jpg .jpeg .png .pdf only.</li>
                                                    <li>- We don’t accept password-protected docs.</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                                <p ng-if="error==true" style="color:red">*{{errorMsg}}</p>
                                                <p ng-if="success==true" style="color:green">*{{successMsg}}</p>
                                            <button class="btn btn-default">Submit for Verification</button>
                                        </div>
                                    </div>
                                    </fieldset>
                                    </form>
                                </div>
                                
                            </div>
        
        
                            <!--ground-->
        
        
                        </div>
                        </div>
                    </section>
        
                    <!--wallet-section-start-->
                    <div id="why_bankaccount" popup-handler class="modal fade" role="dialog">
                            <div class="modal-dialog custom_popup small_popup">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                <button type="button" class="close" ng-click="closePopup('why_bankaccount')">&times;</button>
                                <h4 class="modal-title">Why should i submit my bank account details?</h4>
                                </div>
                                <div class="modal-body clearfix comon_body">
                                    <p>Copy and share the contest code with your friends on WhatsApp, Facebook, email or SMS</p>
                                </div>
                            </div>
                            </div>
                        </div>
        
        
                </div>
                <footer-home></footer-home>