<header-home></header-home>
<div class="main_container">
                    <!--wallet-section-start-->
                    <section class="pancard_sec comon_bg">
                        <div class="container-fluid">
                        <div class="content_wrap veryfication_wrap">
        
                            <div class="veryfy_line">
                                <h4>Verify Your Account</h4> <a href="#" class="btn btn-submit">Show me Contest</a>
                             </div>
        
                            <div class="veryfy_condition">
                                <h4>After this, enjoy 1- click cash withdrawals forever! </h4>
        
                                <ul>
                                    <li> Max size 4MB. Formats - .jpg .jpeg .png .pdf only.</li>
                                    <li>We don’t accept password-protected docs.</li>
                                </ul>
                                <ul class="veryfy_icn">
                                        <li class="{{users.pancard_verify==0?'':'gray_icon';}}"><i class="fa fa-info-circle" aria-hidden="true"></i> Incomplete</li>
                                        <li class="{{users.pancard_verify==1?'':'gray_icon';}}"><i class="fa fa-check-circle" aria-hidden="true"></i> Submitted</li>
                                        <li class="{{users.pancard_verify==2?'':'gray_icon';}}"><i class="fa fa-check-circle" aria-hidden="true"></i> Verified
                                        </li>
                                </ul>
                            </div>
        
                            <div class="mobile_veryfy">
                                <div class="mobile_veryfy_bar">
                                    <ul class="clearfix">
                                            <li class="{{currentSetting=='mobileverification'?'active':''}}"><a href="#/mobileverification">1. Mobile Verification</a></li>
                                            <li class="{{currentSetting=='pan-card'?'active':''}}"><a href="javascript:void(0)">2. PAN Card</a></li>
                                            <li class="{{currentSetting=='settings'?'active':''}}" ><a href="#/settings">3. Bank Account Details</a></li>
                                            <li class="{{currentSetting=='aadhar-card'?'active':''}}"><a href="#/aadhar-card">Aadhar Card</a></li>
                                            
                                            <li><a href="javascript:void(0)">How to get verified?</a></li>
    
                                    </ul>
                                </div>
                                <div class="mobile_veryfication_contait pancard_sec">
                                   <form ng-submit="updatePANCard(panUpdate)" name="panUpdate" novalidate>
                                   <fieldset ng-disabled="isReadOnly">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="form-group custom_input">
                                                <label class="input-has-value">Full Name</label>
                                                <input placeholder="Alex" ng-model="settings.name" name="name" type="text" ng-required="true">
                                                <p><i class="fa fa-info-circle" aria-hidden="true"></i> Your name must match the name
                                                    on your PAN Card &amp; Bank Account</p>
                                                <p style="color:red" ng-if="submitted && panUpdate.name.$error.required">*Name is required field. </p>    
                                               
        
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="form-group custom_input">
                                                <label>PAN Card Number</label>
                                                <input ng-model="settings.pan_number" name="pan_number" ng-pattern="/^([a-zA-Z]){5}([0-9]){4}([a-zA-Z]){1}?$/" type="text" ng-required="true">
                                                <p style="color:red" ng-if="submitted && panUpdate.pan_number.$error.required">*PAN number is required field. </p>   
                                                <p style="color:red" ng-show="panUpdate.pan_number.$error.pattern" class="form-error">*Please enter valid PAN card number.</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="form-group custom_input">
                                                <label>D.O.B.</label>
                                                <!-- <datepicker date-max-limit="{{dobValidate.toString()}}" date-set="{{users.date_of_birth.toString()}}" date-format="yyyy-MM-dd" date-typer="true" >
                                                        <input type="text" ng-model="settings.date_of_birth" placeholder="D.O.B." name="date_of_birth" class="form-control" id="BirthDate" readonly/>
                                                      </datepicker> -->
                                                      <datepickercustom date-max-limit="{{dobValidate.toString()}}" datepicker-id="dob_pan" date-set="{{users.date_of_birth.toString()}}" date-format="dd-mm-yy">
                                                            <input type="text" ng-model="settings.date_of_birth" placeholder="D.O.B." name="date_of_birth" class="form-control date-picker-custom" id="dob_pan" readonly/>
                                                     </datepickercustom>       
                                                <p><i class="fa fa-info-circle" aria-hidden="true"></i> For withdrawals, this should
                                                    match the date of birth on PAN CARD</p>
                                                    <p style="color:red" ng-if="submitted && panUpdate.date_of_birth.$error.required">*Date of Birth is required field. </p>      
        
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="form-group custom_input">
                                                <label>Select State</label>
                                                <select ng-model="settings.state" name="state" class="form-control" ng-required="true">
                                                        <option value="">Select State</option>
                                                        <option ng-repeat="state in states" value="{{state.id}}">{{state.name}}</option>
                                                      </select>
                                                   
                                                <div style="color:red" ng-show="submitted && panUpdate.state.$error.required" class="form-error">
                                                        *State  is required field.</div>
        
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="form-group custom_filetype">
                                                    <div class="input-file-container">  
                                                            <input ngf-select ngf-accept="'image/*'" ng-model="settings.picFile" name="file" id="file" type="file" ng-required="true">
                                                        </div>
                                                          <p class="file-return">Upload PAN Card image</p>
                                                          <div style="color:red" ng-show="submitted && panUpdate.file.$error.required" class="form-error">
                                                                *Pan card image  is required field.</div>
        
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="card_bar">
                                                <ul>
                                                    <li><i class="fa fa-info-circle" ng-click="openPopup('why_pancard')" aria-hidden="true"></i> Why should I submit my PAN
                                                        Card?</li>
                                                    <li>- Max size 4MB. Formats - .jpg .jpeg .png .pdf only.</li>
                                                    <li>- We don’t accept password-protected docs.</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                                <p ng-if="error==true" style="color:red">*{{errorMsg}}</p>
                                                <p ng-if="success==true" style="color:green">*{{successMsg}}</p>
                                            <button class="btn btn-default">Submit for Verification</button>
                                        </div>
                                    </div>
                                    </fieldset>
                                    </form>
                                </div>
                            </div>
        
        
                            <!--ground-->
        
        
                        </div>
                        </div>
                    </section>
                    <div id="why_pancard" popup-handler class="modal fade" role="dialog">
                            <div class="modal-dialog custom_popup small_popup">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                <button type="button" class="close" ng-click="closePopup('why_pancard')">&times;</button>
                                <h4 class="modal-title">Why should i submit my PAN card?</h4>
                                </div>
                                <div class="modal-body clearfix comon_body">
                                    <p>Copy and share the contest code with your friends on WhatsApp, Facebook, email or SMS</p>
                                </div>
                            </div>
                            </div>
                        </div>
<footer-home></footer-home>