<header-login ng-if="!isLoggedIn"></header-login>
<header-landing ng-if="isLoggedIn"></header-landing>

        <!--Main container sec start-->
        <div class="main_container">
                <div class="matchchoos_sec clearfix">
                    <div class="matchchoos_left">
                        <h4>CRICKET </h4>
                        <a href="#/contest"><span>Play Now</span></a>
                    </div>
                    <div class="matchchoos_right">
                            <h4>FOOTBALL </h4>
                            <a href="javascript:void(0)"><span>Coming soon</span></a>
                    </div>
                </div>
        </div>
            <!--Main container sec end-->
<footer-home></footer-home>

</main>
