        <header class="header_sec loginHeader" id="header">

          <div class="header_top">

            <div class="container-fluid">



              <div class="header_top_right text-right">

                
                <nav class="navbar loginNavRes">

                  <div class="">

                    <div class="navbar-header">

                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">

                        <span class="icon-bar"></span>

                        <span class="icon-bar"></span>

                        <span class="icon-bar"></span> 

                      </button>

                      <a class="navbar-brand logo" href="#">

                       <img src="{{env.image_base_url}}logoWhite.png" class="img-responsive" alt="logo"> 

                     </a>

                   </div>

                   <div class="collapse navbar-collapse" id="myNavbar">


                    <ul class="hdr_profile nav navbar-nav navbar-right">


                      <!-- <li><a href="#/contest">Contest</a></li>
                      
                      <li><a href="#/point-system">Scoring Rules</a></li> -->
                      
                      <li><a href="javascript:void(0)" ng-click="openPopup('add_cash')">Add Money</a></li>

                      <li class="dropdown">

                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> 

                          {{userDetails.name}} <i class="fa fa-angle-down"></i></a>

                          <ul class="dropdown-menu">

                            <li>

                              <a href="javascript:void(0)" data-toggle="modal" ng-click="openPopup('edit_profile')"><i class="fa fa-fw fa-user"></i> Profile</a>

                            </li>

                            <li>

                             <a href="#/ac-balance"> 

                              <i class="fa fa-fw fa-user"></i> My Account </a>

                            </li>

                            <li ng-if="signupType!='SOCIAL'" >

                              <a href="javascript:void(0)" data-toggle="modal" ng-click="openPopup('updatePassword')">

                                <i class="fa fa-fw fa-lock"  ng-click="hideShowMsg()">

                                </i> Change Password</a>

                              </li>

                              <li>

                                <a href="#/settings"><i class="fa fa-fw fa-gear"></i> Settings</a>

                              </li>

                              <li>

                                <a href="javascript:void(0)" ng-click="logout()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>

                              </li>

                            </ul>

                          </li>

                        </ul>




                      </div>

                    </div>

                  </nav>


                  

                </div>

              </div>

            </div>


            <div class="clearfix"></div>

            <div class="bptom_header ">

              <div class="container-fluid">

               <div class="bottom_header_right text-right">
                <div class="inner_rightmrnu">

                  <nav class="navbar ">

                    <div class="">

                      <div class="navbar-header">


                        <a class="navbar-brand logo" href="#">

                         <img src="{{env.image_base_url}}logo.png" class="img-responsive" alt="logo"> 

                       </a>

                     </div>

                     <div class="collapse navbar-collapse" id="myNavbar">





                     </div>

                   </div>

                 </nav>

               </div>
             </div>

           </div>

          <!--  <div class="matches_box">
            <p>Sun, Apr 15, 2018 | <strong>12th Match </strong> |India </p>
            <ul>
              <li><img src="https://www.fabulous6fantasy.com/uploads/flag/1522416962_KKR.png" alt=""> CSK
                0/0 (Over 0/20.00) </li>
                <li><img src="https://www.fabulous6fantasy.com/uploads/flag/1522416962_KKR.png" alt=""> CSK
                  0/0 (Over 0/20.00) </li>
                </ul>
                <div class="">Kings XI Punjab won by 4 runs </div>

              </div> -->


            </div>

            <verify-email></verify-email>

            <user-profile></user-profile>

            <add-cash></add-cash>

            <change-password></change-password>

          </header>

          



        <!-- <header class="header_sec" id="header">

            <div class="bptom_header">

                <div class="container">

                        <div class="bottom_header_right text-right">

                            <div class="inner_rightmrnu">

                                <nav class="navbar ">

                                  <div class="">

                                    <div class="navbar-header">

                                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">

                                        <span class="icon-bar"></span>

                                        <span class="icon-bar"></span>

                                        <span class="icon-bar"></span> 

                                      </button>

                                      <a class="navbar-brand logo" href="#">

                                           <img src="{{env.image_base_url}}logo.png" class="img-responsive" alt="logo"> 

                                      </a>

                                    </div>

                                    <div class="collapse navbar-collapse" id="myNavbar">

                                      <ul class="nav navbar-nav navbar-right">

                                        <li class="active"><a href="#">Home</a></li>

                                        <li><a href="#">Feature</a></li>

                                        <li><a href="#/howtoplay">How to play </a></li> 

                                        <li><a href="#">Testimonials </a></li> 

                                        <li><a href="javascript:void(0)">Contact us</a></li> 

                                        <li><a href="#/login">Login/Register</a></li> 

                                      </ul>



                                    </div>

                                  </div>

                                </nav>

                            </div>



                        </div> 

                </div>

        </div></header> -->