    <header-home></header-home>
    <!--Main container sec start-->
    <div class="main_container">
        <section class="main_content_sec">
            <div class="container-fluid">
                <div class="content_wrap veryfication_wrap">

                    <div class="mobile_veryfy">
                        <div class="mobile_veryfy_bar">
                            <ul class="clearfix">
                                <li class="active">
                                    <a href="">Paytm</a>
                                </li>
                            </ul>
                        </div>
                        <div class="mobile_veryfication_contait">
                            <div class="row">
                                <div class="col-sm-6">
                                    <form ng-submit="payTmTest(amount)" name="formData">
                                        <div class="verification_left">
                                            <div class="form-group custom_input">
                                                <label>Enter Amount</label>
                                                <input type="text" placeholder="Enter Amount" ng-model="amount">
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-submit">Submit</button>
                                            </div>
                                        </div>

                                    </form>
                                    <form  action="https://pguat.paytm.com/oltp-web/processTransaction" ng-submit="submitPayData()" name="payTmData" method="post" id="submitPay">
                                       <input type="hidden" ng-model="MID" value="{{MID}}">
                                       <input type="hidden" ng-model="ORDER_ID" value="{{ORDER_ID}}">
                                       <input type="hidden" ng-model="CUST_ID" value="{{CUST_ID}}">
                                       <input type="hidden" ng-model="INDUSTRY_TYPE_ID" value="{{INDUSTRY_TYPE_ID}}">
                                       <input type="hidden" ng-model="CHANNEL_ID" value="{{CHANNEL_ID}}">
                                       <input type="hidden" ng-model="TXN_AMOUNT" value="{{TXN_AMOUNT}}">
                                       <input type="hidden" ng-model="WEBSITE" value="{{WEBSITE}}">
                                       <input type="hidden" ng-model="CHECKSUMHASH" value="{{CHECKSUMHASH}}">
                                   </form>
                               </div>
                           </div>
                       </div>
                   </div>
                   <!--ground-->
               </div>
           </div>
       </section>
   </div>
        <!--Main container sec end-->