<header-login ng-if="!isLoggedIn"></header-login>
<header-home ng-if="isLoggedIn"></header-home>
        <!--Header sec end-->
        <!--Main container sec start-->
        <div class="main_container">
                <!--banner-section_start-->
    
                <!--banner-section_end-->
    
                <!--contant-section-start-->
                <section class="promotion_sec">
                    <div class="promotion_sliter">
                        <div class="prom_sliteritm">
                            <div class="container">
                                <div class="col-sm-6">
                                    <div class="promotion_content">
                                        <h1>IPL T20 PREDICTION 
                                                FEVER</h1>
                                                <h4>Take Prediction Challenge <br>
                                                        & Win Prizes  </h4>
                                                        <a href="#" class="entry">free entry</a>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="sub_slider">
                                        <img ng-src="{{env.image_base_url}}pramotion_subbnr.png" class="img-responsive" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                        
                      
                        
                    </div>
    
    
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="promotion_box">
                                    <img ng-src="{{env.image_base_url}}promotion1.png" alt="">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="promotion_box">
                                    <img ng-src="{{env.image_base_url}}promotion2.png" alt="">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="promotion_box">
                                    <a href="#/deposit"><img ng-src="{{env.image_base_url}}promotion3.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="promotion_box">
                                    <img ng-src="{{env.image_base_url}}promotion4.png" alt="">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="promotion_box">
                                    <img ng-src="{{env.image_base_url}}prediction_5th.jpg" alt="">
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </section>
    
                <!--contant-section-start-->
    
    
            </div>
            <footer-home></footer-home>