<header-login ng-if="!isLoggedIn"></header-login>
<header-home ng-if="isLoggedIn"></header-home>
<div class="main_container">
        <section class="affiliate_banner" id="affiliatebanner">
   <slider-affiliate></slider-affiliate>
            </section>
   

    <section class="affliated_intro equal_pd" id="affiliateintroduction">
        <div class="container">
            <div class="custom_headaf">
                <h4>Intoduction</h4>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to,
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to,</p>
                  
<a href="#" class="btn btn-submit">More</a>                  
        </div>
      </section>


    <section class="affliated_featur equal_pd" id="affiliatefeature">
          <div class="container">
              <div class="custom_headaf">
                  <h4>FEATURES</h4>
              </div>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard<br> dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to,</p>
              <div class="row">
                  <div class="col-sm-3">
                      <div class="affli_featrbox">
                              <div class="affli_featrimg">
                          <img ng-src="{{env.image_base_url}}featr1.jpg" class="img-responsive" alt="">
                          </div>
                          <h4>TRANSPARENCY</h4>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the</p>
                      </div>
                  </div>
                  <div class="col-sm-3">
                          <div class="affli_featrbox">
                                  <div class="affli_featrimg">
                              <img ng-src="{{env.image_base_url}}featr2.jpg" class="img-responsive" alt="">
                              </div>
                              <h4>TOP GAMES</h4>
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the</p>
                          </div>
                      </div>
                      <div class="col-sm-3">
                              <div class="affli_featrbox">
                                      <div class="affli_featrimg">
                                  <img ng-src="{{env.image_base_url}}featr3.jpg" class="img-responsive" alt="">
                                  </div>
                                  <h4>PROMPT PAYMENT</h4>
                                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the</p>
                              </div>
                          </div>
                          <div class="col-sm-3">
                                  <div class="affli_featrbox">
                                          <div class="affli_featrimg">
                                      <img ng-src="{{env.image_base_url}}featr4.png" class="img-responsive" alt="">
                                      </div>
                                      <h4>POWERFUL SOFTWARE</h4>
                                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the</p>
                                  </div>
                              </div>
                            
              </div>
          
          </div>
      </section>
      <section class="scheme_sec clearfix" id="affiliatescheme">
          <div class="common_scheme scheme_left">
                  
                      <div class="schemeimg">
                      <img ng-src="{{env.image_base_url}}featr.png" class="img-responsive" alt="">
                      </div>
                      <h4>SCHEME - 1</h4>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to,</p>
                      <a href="#" style="display:none" class="btn btn-submit">More</a>
          </div>
          <div class="common_scheme scheme_right">
               
                  <div class="schemeimg">
                          <img ng-src="{{env.image_base_url}}featr.png" class="img-responsive" alt="">
                          </div>
                          <h4>SCHEME - 2</h4>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to,</p>
                          <a href="#" style="display:none" class="btn btn-submit">More</a>
          </div>
      </section>
      <div class="offer_section" id="affiliate-commision">
          <h4>We have a special offer for new partners:</h4>
          <h1>Get min.<span> 5%</span> for the first <span>3 months!</span></h1>
      </div>

      <section class="affliated_brands equal_pd" id="affiliate-brands">
              <div class="container-fluid">
                  <div class="custom_headaf">
                      <h4>BRANDS</h4>
                  </div>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard<br> dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to,</p>
              <ul>
                  <li><img ng-src="{{env.image_base_url}}brands1.png" alt="">
                         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                         <a href="#" class="btn btn-submit">More</a> 
                      </li>  
                      <li><img ng-src="{{env.image_base_url}}brands2.png" alt="">
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                          <a href="#" class="btn btn-submit">More</a> 
                       </li>    
                       <li><img ng-src="{{env.image_base_url}}brands3.png" alt="">
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                          <a href="#" class="btn btn-submit">More</a> 
                       </li>      
              </ul>   
              </div>
                 </section>




                 <section class="afliate_apply apply_sec creatconst_popup" id="affiliateform">
                      <div class="container">
                          <div class="comn_head">
                              <h4>Fill the form</h4>
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to,</p>
                          </div>
                          <div class="row">
                                <form class="form_commen" name="contact" ng-submit="submitContact(contact)" novalidate="">
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                        <input type="text" ng-model="contactForm.full_name" name="name" class="form-control" placeholder="Name" ng-required="true">
                                        <p style="color:red" ng-if="submitted && contact.name.$error.required">*Full name is required!</p>
                                      </div>
                                  </div>
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                            <input type="email" ng-model="contactForm.email" name="email" class="form-control" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" placeholder="Email Address" ng-required="true">
                                            <p style="color:red" ng-if="submitted && contact.email.$error.required">*Email is required!</p>
                                            <p style="color:red" ng-show="contact.email.$error.pattern" class="form-error">*Please enter valid email.</p>
                                        </div>
                                  </div>
                               
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                            <input type="text" ng-model="contactForm.subject" name="subject" class="form-control" placeholder="Subject" ng-required="true">
                                            <p style="color:red" ng-if="submitted && contact.subject.$error.required">*Subject is required!</p>
                                      </div>
                                  </div>
                                  <div class="col-sm-6">
                                          <div class="form-group">
                                              <select class="form-control" ng-model="contactForm.scheme" name="scheme" class="form-control" ng-required="true">
                                                  <option value="">Select Scheme</option>
                                                  <option value="1">Scheme 1</option>
                                                  <option value="2">Scheme 2</option>
                                              </select>
                                              <p style="color:red" ng-if="submitted && contact.scheme.$error.required">*Scheme is required!</p>
                                          </div>
                                      </div>
                  
                                  <div class="col-sm-12">
                                      <div class="form-group">
                                            <textarea class="form-control" ng-model="contactForm.message" name="message" placeholder="Your message" ng-required="true"></textarea>
                                            <p style="color:red" ng-if="submitted && contact.message.$error.required">*Message is required!</p>
                                      </div>
                                  </div>
                  
                                 <div class="col-sm-6">
                                     <div class="form-group">
                                         <label><input type="checkbox" ng-model="contactForm.agree" name="agree" ng-required="true"> I agree with playwinfantasy <a href="#/privacypolicies?q=2" target="_blank">T&C</a></label>
                                         <p style="color:red" ng-if="submitted && contact.agree.$error.required">*Please accept playwinfantasy terms!</p>   
                                     </div>
                                 </div>
                  
                                  <div class="col-sm-12">
                                      <div style="color:red" class="form-error" ng-if="error">*{{errormessage}}</div>
                                      <div style="color:green" class="form-error" ng-if="success">*{{successmessage}}</div>
                                      <button class="btn btn-submit">Submit</button>
                                  </div>
                                  </form>
                              </div>
                    
                      </div>
                  </section>
  </div>
  <footer-home></footer-home>