<div id="updatePassword" popup-handler class="modal fade" role="dialog">
    <div class="modal-dialog custom_popup">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="clearPasswordPopup()">&times;</button>
          <h4 class="modal-title">Change Password</h4>
        </div>
        <div class="modal-body clearfix creat_contest comon_body">
        <h4 style="color: green;text-align: center" ng-if="updateMsg==true">{{updateSuccess}}</h4>
          <!-- <h4>{{errorMsg}}</h4>
          <h4>{{msg}}</h4> -->
          <form name="createform1" class="form-horizontal form-commen" novalidate="" ng-submit="changePassword(createform1)">
  
            <div class="form-group">
              <label>Current Password</label>
              <input type="password" ng-model="currentPass" name="currentPass" placeholder="Current Password" class="form-control" ng-required="true" ng-change="hideShowMsg()"> 
              <div style="color:red" ng-show="isSubmitted && createform1.currentPass.$error.required" class="form-error">
                *Current password is required.
              </div>
            </div>
  
            <div class="form-group">
              <label>New Password</label>
              <input type="password" ng-model="newPass" name="newPass" placeholder="New Password" class="form-control" ng-required="true" ng-change="hideShowMsg()" ng-pattern="/^(?=.*[0-9])(?=.*[A-Z])([a-zA-Z0-9]+)$/" ng-minlength="6">
              <div style="color:red" ng-show="isSubmitted && createform1.newPass.$error.required" class="form-error">
                *New password is required.
              </div>
        <div style="color:red" ng-show="createform1.newPass.$error.pattern || createform1.newPass.$error.minlength" class="form-error">*Password must have one capital, one number and 6 character long.
                </div>
            </div>
            <div class="form-group">
              <label>Confirm Password</label>
              <input type="password" ng-model="confirmPass" name="confirmPass" placeholder="Confirm Password" class="form-control" ng-required="true" ng-change="hideShowMsg()">
              <div style="color:red" ng-show="isSubmitted && createform1.confirmPass.$error.required" class="form-error">
                *Confirm password is required.
              </div>
         <div style="color:red" ng-show="newPass != confirmPass" ng-if="confirmPass !=undefined">Your passwords must match.</div>
            </div>
            <div style="color:red" ng-if="showMsg==true" class="form-error">
              {{errorMsg}}
            </div>
            <div class="button_right">
              <button type="submit" class="btn btn-submit">Change</button>
            </div>
          </form>
  
        </div>
      </div>
    </div>
  </div>
  